# Environnement Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Configuration IDE
.vscode/

# Sécurité
.env

# Fichiers générés par l'application
output/
logs/*.log
jobs/pending/*.json
jobs/completed/*.json
jobs/failed/*.json

# Ressources lourdes (optionnel, selon la taille de tes assets)
# assets/music/*
# assets/sounds/*test.mp4
token.json
